/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 12, 2018, 6:51:14 PM
    Author     : Julien Favarel
*/

body
{
    text-align: center;
}

/* Home Page */

div#animation
{
    text-align: center;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

div#red-flag
{
    height:160px;
    width:250px;
    background: red;
    margin:auto;
}

div#white-cross  {
   
  margin:auto;
  background: white;
  height: 100px;
  /*position: relative;*/
  width: 20px;
  transform-origin: 50% 50%;
  -webkit-animation: rotating 2s linear infinite;
}

div#white-cross:after {
  background: white;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
}

div#white-cross 
{
  
}

div#home
{
    text-align: center;
}

div#title
{
    margin-top : 180px;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size : 80px;
    font-weight: bold;
}

div#title>span:nth-child(even){
    
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#045FB4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#actions
{
    width: 665px;
    margin-top : 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, "Trebuchet MS", Arial, sans-serif;
}

div#search
{
    height:44px;
    margin:auto;
    text-align: center;
    font-family: Arial, "Trebuchet MS", Arial, sans-serif;
}
div#search>input
{
    padding-left:16px;
    box-sizing: border-box;
    height:100%;
    width:100%;
    font-size : 16px;
}

/* Fast Tournament Page */

div#fast-tournament
{
    display: flex;
    justify-content: center;
        background: red;

}

div#fast-tournament>div#players-list
{
    border: 5px solid red;
    width : 300px;
    height: 100%;
}

div#fast-tournament>div#round-info
{
    border: 5px solid green;
    width : 600px;
}

div#fast-tournament>div#actions-list
{
    border: 5px solid purple;
    width :500px;
}

div#fast-tournament div#games-list>table
{
    width:100%;
}

/* Tournament Page */

div#tournament
{
    display: flex;
    justify-content: center;
}
    
div#tournament>div#players-list
{
    border: 5px solid red;
    width : 500px;
    height: 100%;
}

div#tournament>div#tournament-info
{
    border: 5px solid blue;
    width : 500px;
}

div#tournament>div#round-info
{
    border: 5px solid green;
    width :500px;
}

div#tournament>div#actions-list
{
    border: 5px solid purple;
    width :500px;
}


.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
}