/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 12, 2018, 6:51:14 PM
    Author     : Julien Favarel
*/

body
{
    text-align: center;
	font-family:arial;
	 display: flex;
    justify-content: center;
}

/* Fast Tournament Page */

div#fast-tournament
{
	width:1000px;
    display: flex;
    justify-content: center;
}

div#fast-tournament>div#players-list
{
	border-radius: 5px;
    border: 1px solid black;
    width : 300px;
    height: 100%;
	box-shadow: 0 0.3em 1em #000;
}

div#fast-tournament>div#players-list>table tr:nth-child(even)
 {background: #CCC}
 
div#fast-tournament>div#players-list>table tr:nth-child(odd)
 {background: #FFF}


div#fast-tournament>div#players-list #name
{
  
}

div#fast-tournament>div#players-list #rating
{
  width:38px;
  text-align:right;
 
}

div#fast-tournament>div#players-list tr.player>td.name
{
  text-align:left;
}

div#fast-tournament>div#round-info
{
	margin-left:10px;
		border-radius: 5px;

    border: 1px solid black;
    width : 600px;
	box-shadow: 0 0.3em 1em #000;

}

div#fast-tournament>div#actions-list
{
    border: 5px solid purple;
    width :500px;
	
}

div#fast-tournament div#games-list>table
{
    width:100%;
}

div#fast-tournament div#games-list>table tr:nth-child(even)
 {background: #CCC}
 
div#fast-tournament div#games-list>table tr:nth-child(odd)
 {background: #FFF}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 20px solid white;
  border-bottom: 20px solid white; 
  background-color:white;
  border-right:20px solid black; 
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid white;
  border-bottom: 20px solid white; 
  background-color:white;
  border-left:20px solid black; 
}