

<div style="text-align: center">
    <input type="button" value="RDE. PREC."/>
</div>

<div style="text-align: center">
    <input type="button" value="APPARIER" onclick="window.location='{{ path('tournaments_pair', {'tournament': tournament.id})}}';"/>
</div>

<div style="text-align: center">
    <input type="button" value="RDE. SUIV."/>
</div>