<div>
    <input type="button" value="1-0" onclick="window.location='{{ path('set_game_result', { 'tournament': tournament.id, 'game': game.id})}}';"/></td>
    <input type="button" value="X-X" onclick="window.location='{{ path('set_game_result', { 'tournament': tournament.id, 'game': game.id})}}';"/></td>
    <input type="button" value="0-1" onclick="window.location='{{ path('set_game_result', { 'tournament': tournament.id, 'game': game.id})}}';"/></td>
</div>